.container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: rgba(0,0,0,0.8);
    transition: .5s;
    animation:  fadeIn .4s;
}
.content{
    width: 100%;
    max-width: 600px;
    background-color: white;
    max-height: 90%;
    overflow: initial;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 100px;
    margin: 0 auto;
}
.header{
    padding: 5px 15px;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(0,0,0,0.6);
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header button{
    height: 40px;
    width: 40px;
    min-width: auto;
    color: rgba(0,0,0,0.15);
    background-color: transparent;
    border: none ;
    border-radius: 4px;
}
.header button:hover{
    background-color: rgba(0,0,0,0.2);

}
.header svg{
    pointer-events: none;

}

.user-info {
    display: flex;
    align-items: center;
    margin: 10px 10px;
    padding: 5px 10px;
    border-radius: 5px;

}
.user-info svg,
.user-info img{
    width: 56px;
    height: 56px;
    background-clip: content-box;
    border: 2px solid transparent;
    border-radius: 50%;
}
.user-info span{
    font-weight: 600;
    font-size: 15px;
    line-height: 1.5;
    margin-left: 5px;
}
.user-info h1{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    margin-left: 5px;
    color: black;
}
.user-info div {
    display: flex;
    flex-direction: column;
}
.user-info:hover{
    background-color: rgba(0,0,0,0.1);
}
.shared-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shared-content textarea{
    text-align: start;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    height: 200px;
    width: 95%;
    margin: 0;
    padding: 10px 10px;
    resize: none;
}
.share-creation{
    display:  flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 24px 12px 16px;
}
.attach-asset{
    align-items: center;
    display: flex;
    padding-right: 8px;
}

.asset-button{
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
    border: none;
    height: 56px;
    width: 56px;
    margin: 10px;
    justify-content: center;
    cursor: pointer;
}
.asset-button:hover{
    box-shadow: 0 4px 9px 0;

}
.share-box{
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 10px 0;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}
.share-button{
    margin-top: 10px;
    width: 63px;
    height: 32px;
    border-radius: 1.6rem;
    border:none;
    font-weight: 700;
    transition: .5s;
    color: white;
    cursor: pointer;
    background-color:#0a66c2 ;
}
.share-button:hover{
    background-color: #004b7c ;
}
.inactive{
    transition: 0.5s;
    cursor: not-allowed;
    color: black;
    background-color:rgba(0,0,0,0.08) ;

}
